body{
    background-color: yellow;}
.web{
    background-color: blue; 
    width: 380px; ;
    height: 185px;
}
.dida{
    background-color: red;
    width: 250px;
    height: 150px;
}

